@using bartender.Models
@model bartender.Models.Drink

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bartender</title>
</head>
<body>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Drink">Drinks</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Order">Orders</a>
</body>
</html>