@model bartender.ViewModels.DrinkIndexViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    
    @foreach (var drink in Model.Drinks)
    {
        @Html.Partial("_Summary", drink)
    }
    

</body>
</html>